.App-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  padding-left: 5vmin;
  padding-right: 5vmin;
  flex-grow: 1;
}

.Doc-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

iframe {
  height: 95vh;
}

.App-logo {
  height: 250px;
}

.App-logo img {
  width: 250px;
}

:root {
  --search-width: 65vw;
  --search-max-width: 65vw;
}

@media only screen and (min-width: 768px) {
  :root {
    --search-width: 500px;
  }
}

.FilterableTable-wrapper {
  width: var(--search-width);
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.SearchBar-input {
  border: 0px;
  padding: 0px;
  height: calc(30px + 2vmin);
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.SearchResults-ul {
  color: #646466;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: default;
  overflow: hidden;
  position: relative;
}

.SearchResults-li {
  border-bottom-style: groove;
}

.SearchResults-li-div-mid {
  font-size: calc(5px + 2vmin);
}

.SearchResults-li-div-small {
  font-size: calc(1px + 2vmin);
}

.Focus {
  background-color: lightslategray;
  color: whitesmoke;
}

.SearchResults-highlight {
  background-color: #343d50;
  color: white;
}

.loading {
  clip-path: inset(0 1ch 0 0);
  animation: l 2s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}