:root {
  --search-width: 65vw;
  --search-max-width: 65vw;
}

@media only screen and (min-width: 768px) {
  :root {
    --search-width: 500px;
  }
}

.FilterableTable-header {
  width: var(--search-width);
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.SearchBar-input {
  border: 0px;
  padding: 0px;
  height: calc(30px + 2vmin);
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.SearchResults-ul {
  color: #646466;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: default;
  overflow: hidden;
  position: relative;
}

.SearchResults-li {
  border-bottom-style: groove;
}

.SearchResults-li-div-mid {
  font-size: calc(5px + 2vmin);
}

.SearchResults-li-div-small {
  font-size: calc(1px + 2vmin);
}

.SearchResults-li:hover {
  background-color: lightslategray;
  color: whitesmoke;
}

.highlight {
  background-color: yellow;
}
